beautifulsoup4==4.4.1
binwalk==2.1.1
Brlapi==0.6.4
chardet==2.3.0
click==6.6
colorama==0.3.7
configobj==5.0.6
crcelk==1.1
cupshelpers==1.0
cycler==0.10.0
debtags==2.1
decorator==4.0.6
DistributedLock==1.2
Django==1.11.28
django-annoying==0.9.0
django-el-pagination==2.1.2
django-grappelli==2.8.1
django-m2m-history==0.3.6
django-material==0.8.0
django-oauth-tokens==0.6.3
django-picklefield==0.3.2
django-taggit==0.20.0
future==0.15.2
louis==2.6.4
matplotlib==1.5.2rc2
numpy==1.11.1rc1
oauthlib==1.1.2
Pillow==3.2.0
prompt-toolkit==1.0.0
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.1.3
pygobject==3.20.1
PyMySQL==0.7.4
PyOpenGL==3.1.0
pyparsing==2.1.4
pyqtgraph==0.9.10
pyserial==3.1
pysmbc==1.0.15.5
python-apt==1.1.0b2
python-dateutil==2.4.2
python-debian==0.1.28
python-memcached==1.58
python-twitter==3.1
pytz==2015.7
pyxdg==0.25
requests==2.10.0
requests-oauthlib==0.6.1
scipy==0.17.1
simplejson==3.8.2
six==1.10.0
smoke-zephyr==1.0.2
sqlparse==0.1.18
termineter==0.2.5
tweepy==3.5.0
urllib3==1.15.1
wcwidth==0.1.6
