{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block head %}
{% endblock %}


{% block content %}

    <style>
        h1, input::-webkit-input-placeholder, button {
            font-family: 'roboto', sans-serif;
            transition: all 0.3s ease-in-out;
        }

        h1 {
            height: 100px;
            width: 100%;
            font-size: 30pt;
            background: #18aa8d;
            color: white;
            line-height: 150%;
            border-radius: 3px 3px 0 0;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        }

        form {
            box-sizing: border-box;
            width: 40%;
            margin: 0 auto 0;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
            padding-bottom: 40px;
            border-radius: 3px;
        }

        form h1 {
            box-sizing: border-box;
            padding: 20px;
        }

        input {
            margin: 40px 25px;
            width: 80%;
            display: block;
            border: none;
            padding: 10px 0;
            border-bottom: solid 1px #1abc9c;
            transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            background-size: 200px 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%) no-repeat -200px 0;
            color: #0e6252;
        }

        input:focus, input:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;
        }

        input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
            color: #1abc9c;
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }

        button {
            border: none;
            background: #1abc9c;
            cursor: pointer;
            border-radius: 3px;
            padding: 6px;
            width: 80%;
            color: white;
            margin-left: 25px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        }

        button:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
        }

        .follow {
            width: 42px;
            height: 42px;
            border-radius: 50px;
            background: #03A9F4;
            display: inline-block;
            margin: 50px calc(50% - 21px);
            white-space: nowrap;
            padding: 13px;
            box-sizing: border-box;
            color: white;
            transition: all 0.2s ease;
            font-family: Roboto, sans-serif;
            text-decoration: none;
            box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
        }

        .follow i {
            margin-right: 20px;
            transition: margin-right 0.2s ease;
        }

        .follow:hover {
            width: 134px;
            transform: translateX(-50px);
        }

        .follow:hover i {
            margin-right: 10px;
        }

        .mdl-textfield {
            width: 80%;
        }

        .mdl-js-snackbar {
            max-width: 100%;
        }

        .mdl-js-snackbar > .mdl-snackbar__text {
            width: 100%;
        }

    </style>

    {% comment %} Contact form {% endcomment %}
    <iframe name="blank_frame" style="display:none;"></iframe>
    <form action="/contact/" method="post" target="blank_frame">
        {% csrf_token %}

        <h1>Contact me</h1>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="name" class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="subject" class="mdl-textfield__input" type="text" id="subject">
            <label class="mdl-textfield__label" for="name">Subject</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="email" class="mdl-textfield__input" type="email" id="email">
            <label class="mdl-textfield__label" for="name">Email</label>
            <span class="mdl-textfield__error">Incorrect email address!</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
            <textarea name="message" class="mdl-textfield__input" type="text" rows="5" id="message"></textarea>
            <label class="mdl-textfield__label" for="message">Message</label>
        </div>

        <!-- Colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                type="submit" value="Submit" onclick="showToast();">
            Send
        </button>
    </form>

    <a class="follow" href="https://twitter.com/ai_simple" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


    {# Material Desin Toast #}
    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button">Undo</button>
    </div>

    <script>
        function showToast() {
            var snackbarContainer = document.querySelector('#toast');
            snackbarContainer.MaterialSnackbar.showSnackbar(
                    {
                        message: 'Successfully sent'
                    }
            );
        }
    </script>

{% endblock content %}