{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-purple.min.css"/>
    <link
            href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic'
            rel='stylesheet' type='text/css'>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.1.3/material.min.js"></script>

    <title>Top Twitter</title>

    {% block head %}
    {% endblock %}
</head>
<body>

<style>
    #drawer_card {
        min-height: 20%;
        max-height: 20%;
        width: 100%;
        background: #009688;
        color: white;
        border-radius: 0;
    }

    .mdl-layout__drawer {
        border-right: 0;
    }
</style>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Top twitter</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="http://0.0.0.0/">Politics</a>
                <a class="mdl-navigation__link" href="http://0.0.0.0/apps">IT</a>
                <a class="mdl-navigation__link" href="http://github.com">Memes</a>
                <a class="mdl-navigation__link" href="http://0.0.0.0/about">Other</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <div id="drawer_card" class="mdl-card mdl-shadow--4dp mdl-layout-title">
            <h3></h3>
        </div>

        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="http://0.0.0.0/apps">Politics</a>
            <a class="mdl-navigation__link" href="http://github.com">IT</a>
            <a class="mdl-navigation__link" href="http://0.0.0.0/contact">Memes</a>
            <a class="mdl-navigation__link" href="http://0.0.0.0/about">Other</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content" align="center">
            <!-- Your content goes here -->
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

</body>
</html>