{% extends 'top_twitter/base.html' %}
{% load staticfiles %}
{% load twitter_tags %}
{% load el_pagination_tags %}


{% block head %}
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        /**
         * You must include the dependency on 'ngMaterial'
         */
        angular.module('firstApplication', ['ngMaterial']);
    </script>
{% endblock %}


{% block content %}
    <script type="text/javascript">
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
        function reloadPage() {
            location.reload()
        }
    </script>

    {# Angular #}
    <script type="text/javascript">
        angular.module('firstApplication', ['ngMaterial'])
                .controller('AppCtrl', function ($scope, $mdDialog, $mdMedia) {
                    $scope.status = '  ';
                    $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');
                    $scope.showAlert = function (ev) {
                        // Appending dialog to document.body to cover sidenav in docs app
                        // Modal dialogs should fully cover application
                        // to prevent interaction outside of dialog
                        $mdDialog.show(
                                $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .title('This is an alert title')
                                        .textContent('You can specify some description text in here.')
                                        .ariaLabel('Alert Dialog Demo')
                                        .ok('Got it!')
                                        .targetEvent(ev)
                        );
                    };
                });
        function DialogController($scope, $mdDialog) {
            $scope.hide = function () {
                $mdDialog.hide();
            };
            $scope.cancel = function () {
                $mdDialog.cancel();
            };
            $scope.answer = function (answer) {
                $mdDialog.hide(answer);
            };
        }

    </script>

    <style>
        .card-square.mdl-card {
            width: 30%;
            height: auto;
        }

        .mdl-card__actions {
            display: flex;
            box-sizing: border-box;
            align-items: center;
        }

        .card-square > .mdl-card__title > .user-profile-image-wrapper > .user_profile_link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            z-index: 1;
        }

        .card-square > .mdl-card__supporting-text {
            margin-top: 16px;
            max-width: 80%;
        }

        .user-profile-image-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .user-profile-image {
            width: auto;
            height: auto;
            border-radius: 50%;
            position: absolute;
            left: 16px;
            bottom: -24px;
        }

        .user-name {
            position: absolute;
            left: 72px;
            bottom: -30px;
        }

        .mdl-grid {
            width: 80%;
            text-align: center;
        }

        .error_box {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 70px 0;
        }

        {# Angular #}
        .dialogdemoBasicUsage #popupContainer {
            position: relative;
        }

        .dialogdemoBasicUsage .footer {
            width: 100%;
            text-align: center;
            margin-left: 20px;
        }

        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
            font-size: 0.8em;
            margin-top: 50px;
        }

        .dialogdemoBasicUsage button {
            width: 200px;
        }

        .dialogdemoBasicUsage div#status {
            color: #c60008;
        }
    </style>

    {% if error %}
        <div class="error_box">
            <h3>Error occurred. Please, try again later.</h3>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                    onclick="reloadPage()">
                Reload page
            </button>
        </div>
    {% endif %}

    <div class="mdl-grid">

        {% for tweet in tweets %}
            <div class="card-square mdl-card mdl-shadow--4dp mdl-cell mdl-cell--1-col">

                <div class="mdl-card__title mdl-card--expand"
                     style="
                             height: 100px;
                             width: 100%;
                             color: #fff;
                             padding: 0;
                             background: url(
                             {% if tweet.user.profile_banner_url %}
                                 {{ tweet.user.profile_banner_url }}
                             {% else %}
                                 {% with "#"|add:tweet.user.profile_background_color as user_bg_color %}
                                     {{ user_bg_color }}
                                 {% endwith %}
                             {% endif %}
                             );
                             background-size: contain">

                    <div class="user-profile-image-wrapper">
                        {% with "https://twitter.com/"|add:tweet.user.screen_name as user_profile_url %}
                            <a class="user_profile_link" target="_blank"
                               href="{{ user_profile_url }}">
                                <img class="user-profile-image" src="{{ tweet.user.profile_image_url }}">
                                {#                                <h6 class="user-name">#}
                                {#                                    {% with "@"|add:tweet.user.screen_name as user_screen_name %}#}
                                {#                                        {{ user_screen_name }}#}
                                {#                                    {% endwith %}#}
                                {#                                </h6>#}
                            </a>
                        {% endwith %}
                    </div>

                </div>

                <div class="mdl-card__supporting-text">
                    {{ tweet|expand_tweet_urls|urlize_tweet_text|safe }}
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    {% with "https://twitter.com/FifthHarmony/status/"|add:tweet.id_str as tweet_url %}
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
                           target="_blank"
                           href="{{ tweet_url }}">Read more</a>
                    {% endwith %}

                    <div class="mdl-layout-spacer"></div>

                    {# Like button #}
                    <button class="mdl-button mdl-button--icon"><i class="material-icons">favorite</i></button>

                    {# Share button #}
                    <button id="share-post-{{ tweet.id }}" class="mdl-button mdl-button--icon"><i
                            class="material-icons">share</i>
                    </button>

                    {# Menu button #}
                    <button id="menu-top-right-{{ tweet.id }}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>

                    {# Share button menu #}
                    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="share-post-{{ tweet.id }}">
                        <li class="mdl-menu__item">Facebook</li>
                        <li class="mdl-menu__item">Twitter</li>
                        <li class="mdl-menu__item">Pinterest</li>
                    </ul>

                    {# Menu button menu #}
                    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for="menu-top-right-{{ tweet.id }}">
                        <li class="mdl-menu__item">Source code</li>
                        <li class="mdl-menu__item">Another Action</li>
                        <li disabled class="mdl-menu__item">Disabled Action</li>
                        <li class="mdl-menu__item">Yet Another Action</li>
                    </ul>

                    <div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak>
                        <div class="dialog-demo-content" layout="row" layout-wrap layout-margin
                             layout-align="center">
                            <md-button class="md-primary md-raised" ng-click="showAlert($event)">
                                Alert Dialog
                            </md-button>
                        </div>
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}