{% extends 'top_twitter/base.html' %}
{% load staticfiles %}
{% load twitter_tags %}
{% load el_pagination_tags %}
{% csrf_token %}


{% block head %}
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        /**
         * You must include the dependency on 'ngMaterial'
         */
        angular.module('firstApplication', ['ngMaterial']);
    </script>
{% endblock %}


{% block content %}
    <script type="text/javascript">
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
        function reloadPage() {
            location.reload()
        }
    </script>

    <script type="text/javascript">
        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>

    {# Angular #}
    <script type="text/javascript">
        angular.module('firstApplication', ['ngMaterial'])
                .controller('AppCtrl', function ($scope, $mdDialog, $mdMedia) {
                    $scope.status = '  ';
                    $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');
                    $scope.showAlert = function (ev, content) {
                        $mdDialog.show(
                                $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .title('Source code')
                                        .textContent(content)
                                        .ariaLabel('Alert Dialog Demo')
                                        .ok('OK')
                                        .targetEvent(ev)
                        );
                    };
                });
        function DialogController($scope, $mdDialog) {
            $scope.hide = function () {
                $mdDialog.hide();
            };
            $scope.cancel = function () {
                $mdDialog.cancel();
            };
            $scope.answer = function (answer) {
                $mdDialog.hide(answer);
            };
        }

    </script>

    <style>
        .card-square.mdl-card {
            width: 30%;
            height: auto;
        }

        .mdl-card__actions {
            display: flex;
            box-sizing: border-box;
            align-items: center;
        }

        .card-square > .mdl-card__title > .user-profile-image-wrapper > .user_profile_link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            z-index: 1;
        }

        .card-square > .mdl-card__supporting-text {
            margin-top: 16px;
            max-width: 80%;
        }

        .user-profile-image-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .user-profile-image {
            width: auto;
            height: auto;
            border-radius: 50%;
            position: absolute;
            left: 16px;
            bottom: -24px;
        }

        .user-name {
            position: absolute;
            left: 72px;
            bottom: -30px;
        }

        .mdl-grid {
            width: 80%;
            text-align: center;
        }

        .error_box {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 70px 0;
        }

        {# Angular #}
        .dialogdemoBasicUsage #popupContainer {
            position: relative;
        }

        .dialogdemoBasicUsage .footer {
            width: 100%;
            text-align: center;
            margin-left: 20px;
        }

        .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
            font-size: 0.8em;
            margin-top: 50px;
        }

        .dialogdemoBasicUsage button {
            width: 200px;
        }

        .dialogdemoBasicUsage div#status {
            color: #c60008;
        }
    </style>

    {% if error %}
        <div class="error_box">
            <h3>Error occurred. Please, try again later.</h3>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                    onclick="reloadPage()">
                Reload page
            </button>
        </div>
    {% endif %}

    <div class="mdl-grid">

        {% paginate 21,21 tweets %}
        {% for tweet in tweets %}
            <div class="card-square mdl-card mdl-shadow--4dp mdl-cell mdl-cell--1-col">

                <div class="mdl-card__title mdl-card--expand"
                     style="
                             height: 100px;
                             width: 100%;
                             color: #fff;
                             padding: 0;
                             {% if tweet.user.profile_banner_url %}
                                 background: url({{ tweet.user.profile_banner_url }});
                             {% elif tweet.user.profile_background_color %}
                                 {% with "#"|add:tweet.user.profile_background_color as user_bg_color %}
                                     background: {{ user_bg_color }};
                                 {% endwith %}
                             {% else %}
                                 background: #2196F3;
                             {% endif %}
                             background-size: cover">

                    <div class="user-profile-image-wrapper">
                        {% with "https://twitter.com/"|add:tweet.user.screen_name as user_profile_url %}
                            <a class="user_profile_link" target="_blank"
                               href="{{ user_profile_url }}">
                                {% if tweet.user.profile_image_url %}
                                    <img class="user-profile-image" src=" {{ tweet.user.profile_image_url }} ">
                                {% else %}
                                    <img class="user-profile-image"
                                         src=" {{ MEDIA_URL|add:"uploads/images/account-circle.png" }} ">
                                {% endif %}
                            </a>
                        {% endwith %}
                    </div>

                </div>

                <div class="mdl-card__supporting-text">
                    {{ tweet|expand_tweet_urls|urlize_tweet_text|safe }}
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    {% with "https://twitter.com/FifthHarmony/status/"|add:tweet.id_str as tweet_url %}
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
                           target="_blank"
                           href="{{ tweet_url }}">Read more</a>
                    {% endwith %}

                    <div class="mdl-layout-spacer"></div>

                    {# Like button #}
                    <button class="mdl-button mdl-button--icon"><i class="material-icons">favorite</i></button>

                    {# Share button #}
                    <button id="share-post-{{ tweet.id }}" class="mdl-button mdl-button--icon">
                        <i class="material-icons">share</i>
                    </button>

                    {# Menu button #}
                    <button id="menu-top-right-{{ tweet.id }}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>

                    {# Share button menu #}
                    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="share-post-{{ tweet.id }}">
                        <li class="mdl-menu__item">Facebook</li>
                        <li class="mdl-menu__item">Twitter</li>
                        <li class="mdl-menu__item">Pinterest</li>
                    </ul>

                    {# Menu button menu #}
                    <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                        data-mdl-for="menu-top-right-{{ tweet.id }}">
                        <li class="mdl-menu__item"
                            ng-controller="AppCtrl" ng-cloak ng-click="showAlert($event, {{ tweet }})">Source code
                        </li>
                        <li class="mdl-menu__item">Another Action</li>
                        <li disabled class="mdl-menu__item">Disabled Action</li>
                        <li class="mdl-menu__item">Yet Another Action</li>
                    </ul>

                </div>

            </div>
        {% endfor %}
    </div>

    <h6>{% show_more "Load more" "Loading" %}</h6>
    <br/>
{% endblock %}