{% extends 'top_twitter/base.html' %}
{% load staticfiles %}
{% load twitter_tags %}
{% load el_pagination_tags %}


{% block head %}
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        /**
         * You must include the dependency on 'ngMaterial'
         */
        angular.module('firstApplication', ['ngMaterial']);
    </script>
{% endblock %}


{% block content %}
    <script type="text/javascript">
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
        function reloadPage() {
            location.reload()
        }
    </script>

    {# Angular #}
    <script type="text/javascript">
        angular.module('firstApplication', ['ngMaterial'])
                .controller('AppCtrl', function ($scope, $mdDialog, $mdMedia) {
                    $scope.status = '  ';
                    $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');
                    $scope.showAlert = function (ev, content) {
                        var json_content = JSON.stringify(JSON.parse(content), null, 2);
                        $mdDialog.show(
                                $mdDialog.alert()
                                        .parent(angular.element(document.querySelector('#popupContainer')))
                                        .clickOutsideToClose(true)
                                        .title('Source code')
                                        .textContent(content)
                                        .ariaLabel('Alert Dialog Demo')
                                        .ok('OK')
                                        .targetEvent(ev)
                        );
                    };
                });
        function DialogController($scope, $mdDialog) {
            $scope.hide = function () {
                $mdDialog.hide();
            };
            $scope.cancel = function () {
                $mdDialog.cancel();
            };
            $scope.answer = function (answer) {
                $mdDialog.hide(answer);
            };
        }

    </script>

    <style>
        .card-square.mdl-card {
            width: 30%;
            height: auto;
        }

        .card-square > .mdl-card__supporting-text {
            max-width: 100%;
        }

        .mdl-card__title {
        }

        .mdl-grid {
            width: 80%;
            text-align: center;
        }

        .error_box {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 70px 0;
        }
    </style>

    {% if error %}
        <div class="error_box">
            <h3>Error occurred. Please, try again later.</h3>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                    onclick="reloadPage()">
                Reload page
            </button>
        </div>
    {% endif %}

    <h3 align="left" style="margin-left: 10%">Statistics</h3>
    <div class="mdl-grid">
        <div class="card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--1-col">
            <div class="mdl-card__title mdl-card--expand mdl-shadow--2dp"
                 style="
                        height: 100px;
                        width: 100%;
                        color: #fff;
                        background-color: #9C27B0;
                       ">
                <h2 class="mdl-card__title-text">Total number</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <h3>{{ tweets|length }} tweets</h3>
            </div>
        </div>

        <div class="card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--1-col">
            <div class="mdl-card__title mdl-card--expand mdl-shadow--2dp"
                 style="
                        height: 100px;
                        width: 100%;
                        color: #fff;
                        background-color: #FF5722;
                       ">
                <h2 class="mdl-card__title-text">The most popular #hashtag</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <h3>#{{ popular_hashtag }}</h3>
            </div>
        </div>

        <div class="card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--1-col">
            <div class="mdl-card__title mdl-card--expand mdl-shadow--2dp"
                 style="
                        height: 100px;
                        width: 100%;
                        color: #fff;
                        background-color: #3F51B5;
                       ">
                <h2 class="mdl-card__title-text">Some Title</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <h3>Info</h3>
            </div>
        </div>


    </div>

    <h3 align="left" style="margin-left: 10%">Actions</h3>

    <div class="mdl-grid">
        <div class="card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--1-col">
            <div class="mdl-card__title mdl-card--expand mdl-shadow--2dp"
                 style="
                        height: 100px;
                        width: 100%;
                        color: #fff;
                        background-color: #009688;
                       ">
                <h2 class="mdl-card__title-text">Add new tweets</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <h6>Search and add new tweets</h6>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--primary">
                    Add!
                </button>
            </div>
        </div>
    </div>
{% endblock %}